
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand"><h1>{{pageTitle}}</h1></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="type" [(ngModel)]='filterString'  placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

<div class="card-group">
  <div *ngFor='let product of filteredProducts'>
    <div class="card" style="width: 25rem; margin: 1em;">
      <a href="#"><img class="card-img-top" src="{{product.imageUrl}}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a [routerLink]="['/products', product.id]">
            {{ product.name }}
          </a>
        </h4>

        <div class="row" style="margin-left: .25em;">
          <h5>{{product.price|currency:'USD':'symbol'}} </h5>
          <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'> </app-star>
        </div>
        <p class="card-text">{{product.code | uppercase | convertToSpaces: '-' }} {{product.description}}</p>
      </div>

      <div class="card-footer">
        <small>

        </small>
      </div>
    </div>
  </div>
</div>